<html>
    <style>
    .packPieceContainer{
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
    }
    .measurementsContainer{
        display: flex;
        flex-direction: row;
        flex: 1;
    } 
    .measurementsInput{
        display: flex;
        flex-shrink: 1;
        margin: 20px;
        
    }
    .amountTypeContainer{
        display: flex;
        flex-shrink: 1;
        margin: 10px;
        align-self: flex-end;
        justify-content: center;
    }
    </style>
    <div class ="packPieceContainer"  [formGroup]="parentForm.controls.packPieceArray">
        <div [formGroupName]="index">
        <div  class ="amountTypeContainer">
            <label class="measurementsInput"  > Menge
                <input type="number" style="margin-left: 5px; text-align: center;" formControlName="amount">
            </label>
            <select  class="measurementsInput" formControlName="format" (change)="setValueByFormat($event.target.value)" >        
                <optgroup *ngFor="let categorygroup of packPieceFormats" [label]="categorygroup.category">  
                    <option  *ngFor="let format of categorygroup.formats" [value]="format.id">
                        {{format.name}}
                    </option>
                </optgroup>
            </select>
        </div>
        <div class = "measurementsContainer">
            <label class="measurementsInput" > Länge / Stk. <br>
                <input style="margin-left: 5px; text-align: center;" type="number" formControlName="length">
            </label>
            <label class="measurementsInput"> Breite / Stk. <br>
                <input style="margin-left: 5px; text-align: center;" type="number" formControlName="width">
            </label>
            <label class="measurementsInput"> Höhe / Stk. <br>
                <input style="margin-left: 5px;text-align: center; "type="number" formControlName="height"> 
            </label>
            <label class="measurementsInput" >Gewicht / Stk. <br>
                <input style="margin-left: 5px;text-align: center;" type="number" formControlName="weight">
            </label>    
            <label  class="measurementsInput">
                <input style="margin-left: 5px;text-align: center;" type="checkbox" formControlName="stackable"> 
                Stapelbar
            </label>
       </div>
    </div>
    </div>
</html>
