<html>
    <style> 
    .formContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
    }
    .searchBarContainer{
        display: flex;
        flex-shrink: 1;        
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
  }
  .packPieceContainer{
      display: flex;
      flex-shrink: 1;        
      justify-content: center;
      margin: 20px;
  }
  .packPieceButton{
    background-color: rgba(255, 255, 255, 0);
    border-color: white;  
    border-width: 2px;
    border-radius: 25px;
    margin: 20px;
    height: 50px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    width: 300px;
    align-self: center;
  }
  .measurementContainer{
      flex-shrink: 1;
      margin: 10px;
      color: white;
      justify-self: flex-end;
      text-align: center;
  }
  .customerTypeContainer{
      flex-shrink: 1;
      color: white;
      margin: 10px;
      justify-self: flex-end;
      align-self: flex-end;
  }
  .showPrice{
      background-color: greenyellow;
      align-self: center;
      height: 50px;
      width: 300px;
      color: white;
      border-radius: 15px;
      font-weight: 600;
      font-size: 15px;
    }
    .singleSearchContainer{
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    </style>

    <form [formGroup]="journeyForm" (ngSubmit)="submitFormValue()"  method="post">
    <div class= "formContainer">
        <div>    
            <h1  style="color: white;margin-top: 155px;">
                Speditionen vergleichen.
            </h1>
            <h2 style="color: white;">
              einfach, kostenlos, transparent
            </h2>
        </div>
        <div class = "searchBarContainer">
            <label class="measurementContainer"  > Abholung in 
                <app-city-search [parentForm]="journeyForm" controlName="origin"></app-city-search>
            </label>
            <label  class="measurementContainer" > Lieferung nach 
                <app-city-search [parentForm]="journeyForm" controlName="destination"></app-city-search>
            </label>
            <label  class="customerTypeContainer" >
                KundenGruppe <br>
                <div class="singleSearchContainer"> 
                <select  controlName="customer_type"  >
                    <option value="Privat"> Privat </option>
                    <option value="Gewerbe"> Gewerbe </option>
                </select>
                </div>
            </label>
        </div>
        <div class="packPieceArrayContainer" formArrayName = "packPieceArray" *ngFor=" let item of journeyForm.get('packPieceArray').controls ;let counter = index" >
            <div [formGroupName]="counter" class="packPieceContainer" >
                 <app-pack-piece [index] ="counter" [parentForm]="journeyForm"  formatID = "0"></app-pack-piece>
            </div>
        </div>
        <div style="display:flex; flex-direction: column;">
            <input type ="button" value=" + WEITERES PACKSTÜCK" (click)="addPackPiece()" class="packPieceButton">
            <input type="submit" value ="ZEIG MIR PREISE" class="showPrice">
        </div>
    </div>
    </form>

    </html>