
<html>
    <style>
    .citySearch{
        display: flex;
        background-color: yellow;
        flex-direction : column;
        flex: 1;
    }
    .singleSearchContainer{
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .searchBar{
        display: flex;
        position: relative;
        flex: 1;
        width: 100%;
        flex-direction: row;
    }
    .suggestionCollection{
        display : flex;
        flex: 1;
        flex-direction: column;
    }
    .suggestion{
        flex :1 ;
        width: 100%;
        margin: 5px;
        background-color: white;
        border-radius: 5px;
        font-size: 12px;
    }
    </style>
        <div  class = "singleSearchContainer" [formGroup]="parentForm">
            <div class="suggestionCollection"> 
                <p class="suggestion"  (click)="suggestionClicked(sug.name)" *ngFor="let sug of suggestions" >{{sug.name}}</p> 
            </div>
            <div class= "searchBar">
                <select [formControlName]="controlName+ '_country'" (change)="setSuggestionCountry($event.target.value)" >
                    <option *ngFor="let c of countries" [value]="c.code">  {{c.code}}</option>
                </select>
                <input type="text" (input)="autocompleteCity()" style ="margin-left: 10px;   " [formControlName]="controlName+ '_city'">
            </div>
        </div>
</html>