    <style >
    .resultContainer{
        display: flex;
        position: relative;
        justify-content: space-around;
        align-content: center;
        height: 250px;
        background-color: white;
        margin: 100px;
        flex-direction: row;
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: grey;
        border-width :1px;
        font-size: 15px;
    }
    .smallSubContainer{
        position: absolute;
        display: flex;
        height: 100%;
        width: 25%;
        align-self: center;
        border-right-style: solid;
        border-left-style: solid;
        border-color: grey;
        border-width :1px;
        justify-content: center;
        text-align: center;
        flex-direction: column;

    }
    .pieceOfInfoContainer{
        display: flex;
        flex-direction: row;
        flex :1;
    }
    .pieceOfInfoHeading{
        font-weight: 600;
        margin: 20px;
    }
    .pieceOfInfoValue{
        margin: 20px;
    }
    .infoContainer{
        display: flex;
        position: absolute;
        height: 100%;
        flex-direction: column;
        left: 25%;
    }
    .buyButton{
        margin: 20px;
        background-color:yellowgreen;
        height: 50px;
        border-radius: 10px;
    }
    </style>

    
    <div class ="resultContainer " >  
        <div class= "smallSubContainer" style="left: 0; top:0;" >  
            <h2> {{this.offerName}} </h2>
            <h1 > LOGO </h1>
        </div>
        <div class= "infoContainer">  
            <div class="pieceOfInfoContainer">
                <p class="pieceOfInfoHeading" > Früheste Abholung:   </p> 
                <p class="pieceOfInfoValue">am {{pickUpDate}} </p>
            </div>
            <div class="pieceOfInfoContainer">
                <p class="pieceOfInfoHeading"> Früheste Liefereung: </p> 
                <p class="pieceOfInfoValue">    am {{deliveryDate}} </p>
            </div>
            <div class ="pieceOfInfoContainer">
                <p class="pieceOfInfoHeading" > Zahlung: </p>
                <p class="pieceOfInfoValue">{{paymentMethod}} </p>
            </div>
            <div class="pieceOfInfoContainer">
                <p class="pieceOfInfoHeading" >  Palette:   </p> 
                <p class="pieceOfInfoValue">  {{palette}} </p>
            </div>
        </div>
        <div class= "smallSubContainer" style="right: 0; top:0;"> 
            <h1>{{price}}€</h1>
            <p>zzgl. 19% Mwst. {{price/5}}</p>
            <input class="buyButton"type= "button" value="DETAILS & BUCHUNG">
        </div>
    </div>
